


@import url('https://fonts.googleapis.com/css2?family=Delius&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oldenburg&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";




@theme{
  --color-primary: #F4983C;
  --color-brown: #827745;
  --color-secondary: #282433;
  --color-black-font: #333333;
  --color-dirty-white: #FAF8F5;
  --font-display: 'oldenburg'
}

:root {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
  color: #333333;
  background-color: #FAF8F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* @layer base {
  p{
    font-family: Montserrat;
  }
} */

@layer components {
  .max-container {
    max-width: 1000px;
  }

  .booking-input{
    @apply text-black-font bg-white w-full border-none py-[5px] px-[4px] rounded-sm;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply  text-lg leading-7;
  }



}


